/*버튼과 textarea 관련 css*/
#textButton{
        background-color: white;
        color : #ff7f00;
        border: 3px solid #ff7f00;
        border-radius: 10px;
        font-size:15px;
    }
#captureButton{
        background-color: white;
        color : #81c147;
        border: 3px solid #81c147;
        border-radius: 10px;
        font-size:15px;
}
#saveButton{
        background-color: white;
        color : #50bcdf;
        border: 3px solid #50bcdf;
        border-radius: 10px;
        font-size:15px;
}
#recieveButton{
        background-color: white;
        color : #BF00FF;
        border: 3px solid #BF00FF;
        border-radius: 10px;
        font-size:15px;
}
#textArea{
        background-color: white;
        color : black;
        border: 2px solid #ff7f00;
}
#textDelete{
        background-color: white;
        color : #ff7f00;
        border: 2px solid #ff7f00;
}

/*capture 관련 css*/
#screenshot_mask {

  width: 100%;

  height: 100%;

  position: fixed;

  top: 0px;

  left: 0px;

  display: block;

  opacity: 0.3;

  text-align: center;

  box-sizing: border-box;

  z-index: 2147483647;

  border-color: black;

  border-style: solid;

}

#screenshot_focus:before,#screenshot_focus:after{

  border:none !important;

  content:"" !important;

  height:100% !important;

  position:absolute !important;

  width:100% !important

}

#screenshot_focus:before{

  border-right:1px solid white !important;

  border-bottom:1px solid white !important;

  left:-100% !important;

  top:-100% !important

}

#screenshot_focus:after{

  border-top:1px solid white !important;

  border-left:1px solid white !important;

  left:0 !important;

  top:0 !important

}

#screenshot_focus{

  height:100% !important;

  position:fixed !important;

  width:100% !important;

  z-index:2147483648 !important

}